.imageBackground
{
    background:url(Images/CodeBackground.png);
    background-size: cover;
}
.positionsOfThreeAids
{
    position: absolute;
    right: 65px;
    display: flex;
    flex-direction: row;
    width: 480px;
    height: 100px;
    background-size: cover;
}
.positionOfMainQuestion
{
    position: absolute;
    bottom: 45%;
    left: 10%;
    width: 80%;
    height: 15%;
    border: 3px solid #A2BBCD;
    border-radius: 30%;
    background-color: black;
    opacity: 0.95;
    color: white;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0px;
    text-align: center;
    padding:3px;
}
.positionOfContentQuestion
{
    position: absolute;
    width: 100%;
    height: 100%;
}
.positionOfAnswers
{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    bottom: 3%;
    left: 10%;
    width: 80%;
    height: 40%;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    text-indent: 16px;
}
.positionOfContentAnswers
{
    display: flex;
    border: 5px solid black;
    width: 48%;
    height: 40%;
    margin: 5px;
    border: 3px solid #A2BBCD;
    border-radius: 30%;
    background-color: black;
    opacity: 0.95;
    cursor: hand;
    align-items: center;
    justify-content: left;
}
.styleOfFirstContentAnswers
{
    color: gold;
    font-size: 30px;
    font-weight: bold;
}
.styleOfSecondContentAnswers
{
    position: absolute;
    top: 59%;
    color: red;
    font-size: 30px;
    font-weight: bold;
}
.alertAboutAidInRound
{
    position:fixed;
    top:98%;
    left:50%;
    transform: translate(-50%,-50%);
    width:100%;
}
.alertAidContent
{
color:rgb(255, 94, 0);
text-align: center;
font-weight: bold;
background-color:black;
font-size:23px;
}

@media screen and (min-width:128px) and (max-width: 360px) {
    body
    {
        position: relative;
    }
    .positionsOfThreeAids
    {   
        position:absolute;
        transform:translate(25%,0%) scale(0.7,0.7);
    }  
    .positionOfMainQuestion
    {
        font-size: 20px;
        padding:5px;
        text-align: center;
    }
    .positionOfAnswers
    {
        padding: 5px;
        font-size: 20px;
        text-align: center;
    }
    .styleOfFirstContentAnswers
    {
        font-size: 20px;
    }
    .styleOfSecondContentAnswers
    {
        font-size: 20px;
    }
}
@media screen and (min-width:361px) and (max-width: 415px) {
    body
    {
        position: relative;
    }
    .positionsOfThreeAids
    {   
        position:absolute;
        transform:scale(0.7,0.7);  
        left:-15%;
    }  
    .positionOfMainQuestion
    {
        font-size: 20px;
        padding:5px;
        text-align: center;
    }
    .positionOfAnswers
    {
        padding: 5px;
        font-size: 20px;
        text-align: center;
    }
    .styleOfFirstContentAnswers
    {
        font-size: 20px;
    }
    .styleOfSecondContentAnswers
    {
        font-size: 20px;
    }
    .publicVoteAnswersPercentage
    {
        color:#6bc032;
        font-size:120%;
        position:absolute;
        left:50%;
        font-weight: bold;
        width:10%;
    }
}
@media screen and (min-width:416px) and (max-width: 768px) {  
    .positionOfMainQuestion
    {
        font-size: 20px;
        padding:3px;
        text-align: center;
    }
    .positionOfAnswers
    {
        padding: 5px;
        font-size: 20px;
        text-align: center;
    }
    .styleOfFirstContentAnswers
    {
        font-size: 20px;
    }
    .styleOfSecondContentAnswers
    {
        font-size: 20px;
    }
    .positionsOfThreeAids
    {
        transform:scale(0.8,0.8);    
        right:10px;
        left: auto;
     
    }
}

